body{
    background-color: silver;
}

header{
    background-color: black;
    color: white;
    padding: 15px;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

  .form-signin input[type="text"],
  .form-signin input[type="email"],
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  header{
      text-align: center;
  }

  footer{
      text-align: center;
      background-color: slategray;
      color: snow;
      position: fixed;
      bottom: 0;
      padding: 15px;
      width: 100%;
  }

  em{
      display: block;
      color: red;
      font-weight: bold;
      padding-bottom: 10px;
  }

  .menu{
      list-style-type: none;
      width: 100%;
      margin: 0;
      padding: 0;
      background-color: slategrey;
  }

  .menu li{
      display: inline-block;
  }

  .menu li a{
      display: block;
      text-decoration: none;
      cursor: pointer;
      padding: 6px;
      color: white;
      text-shadow: 0 0 2px black;
      transition: 0.6s all;
  }

  .menu li a:hover{
      background-color: black;
      color: white;
      transition: 0.3s all;

  }