    <footer>
        Bajai SZC Türr István Technikum - 2/14.SZFTE
    </footer>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/canvasjs.min.js"></script>
    <script src="../js/fullcalendar.min.js"></script>
    <script src="../js/fullcalendar.locales-all.js"></script>
</body>
</html>