<%- include('header') %>

<%- include('menu') %>

<div class="container">
    <br>
    <h3>Welcome back dear <%= username %>!</h3>
    <br>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim voluptatum repellat, iure illum sint vitae, exercitationem odit molestiae possimus rem magnam nulla. Vero assumenda nulla commodi eveniet blanditiis odit praesentium!
    </p>
</div>

<%- include('footer') %>